{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    "transform-regenerator" // Added to fix "Uncaught ReferenceError: regeneratorRuntime is not defined" error
  ]
}
